/* .container {
    width: 500px;
    height: 500px;
} */

#main-grid {
    display: grid;
    width: 500px;
    height: 500px;
    border: solid 1px gray;
}

.cell {
    /* border: 1px solid black; */
    min-width: 1px;
    min-height: 1px;
    /* display: inline-block; */
    /* margin-right: 2px; */
}

.actions {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.btn {
    width: 80px;
    height: 40px;
    padding-top: 20px;
    margin-right: 20px;
    background-color: aqua;
    text-align: center;
}